header {
  background-color: #F15B31;
  padding: 30px 20px;
  margin: 0 auto;
  text-transform: uppercase;
  color: white;
  margin: 0;
}
nav {
background-color: #00A6B3;
padding: 20px 0;
border-bottom: 2px solid transparent;
text-transform: uppercase;
color: white;
}

a {
text-decoration: none;
 font-family: raleway;
 margin: 0 20px;
 text-transform: uppercase;
 color: white;
 border-bottom: 2px solid transparent;
}

a:hover {
  background-color: #F15B31;
  border-color: white;
  text-decoration: none;
}

main{
  width: 850px;
  margin: 35px auto;
  padding: 0 5%;
}

body {
margin: 0;
text-align: center;
text-decoration: underline;
}

h1 {
font-family: "Raleway", sans-serif;
font-weight: 400;
padding: 30px;
margin: 0;
color: white;
}

h2{
font-family: "Raleway", sans-serif;
font-weight: 400;
color:#F15B31;
letter-spacing: 1px;
font-weight: 600;
font-size: 18px;
margin: 0;
}

h3{
font-family: "Raleway", sans-serif;
color:#0D2C40;
letter-spacing: 1px;
font-weight: 600;
font-size: 20px;
}

p {
font-family: "Droid Serif", serif;
line-height: 26px;
font-size: 18px;
}

img{
margin: 40px 8px;
}

footer {
  background-color: #0D2C40;
  text-transform: uppercase;
  color: rgb(255,255,255);
  font-size: 14px;
  font-weight: 500;
  padding: 0 20px;
  letter-spacing: .08em;
}

.copyright {
  font-family: raleway;
  float:left;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

.message {
  font-family: raleway;
  float: right;
}
